LLM_API_KEY=your_llm_api_key_here
LLM_MODEL_NAME=your_llm_model_name_here
PINECONE_API_KEY=your_pinecone_api_key_here
PINECONE_INDEX_NAME=your_pinecone_index_name_here
PINECONE_ENVIRONMENT=your_pinecone_environment_here
EMBEDDING_MODEL_NAME=your_embedding_model_name_here
EMBEDDING_API_KEY=your_embedding_api_key_here